/* App.css */
.App {
  text-align: center;
}

#barcode-scanner-view {
  height: 70vh;
  width: 80vw;
  margin: 0 auto;
}

.barcode-text {
  margin-top: 20px;
  font-size: 1.2em;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  #barcode-scanner-view {
    height: 50vh;
    width: 90vw;
  }
  
  .barcode-text {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  #barcode-scanner-view {
    height: 40vh;
    width: 95vw;
  }

  .barcode-text {
    font-size: 0.8em;
  }
}
